<footer class="footer">
    <p>특별한 언급이 없는 한, docs.ficsit.app과 ficsitdocs.bpforest.com은 <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License v3.0</a>(GPLv3)의 라이선스를 따릅니다.</p>
</footer>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript"> docsearch({
    appId: '2FDCZBLZ1A',
    apiKey: '28531804beda52a04275ecd964db429d',
    indexName: 'ficsit',
    container: '#docsearch',
    debug: false,
    insights: true,
    searchParameters: {
      facetFilters: [
        'component_name:{{ @root.page.componentVersion.name }}',
        'component_version:{{ @root.page.componentVersion.version }}'
      ],
    },
});
</script>
